<!-- Generated template for the TransportsManagerComponent component -->
<div *ngIf="_nearestTransportsAndTime.length > 0; else noRidesToday" >
  <div class="next-arrival">
  ההסעה הבאה תגיע בשעה -
  {{_nearestTransportsAndTime[0].departureTime | date: "HH:mm"}}
  </div>
  ההסעות הבאות :
    <transport *ngFor="let transportAndTime of _nearestTransportsAndTime" [transport]="transportAndTime.transport" [departureTime]="transportAndTime.departureTime">

    </transport>
</div>

<ng-template #noRidesToday>
  נגמרו ההסעות להיום!
</ng-template>
